/* Home Section Styling */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    background-color: black;
    color: white;
}

/* Text Content Styling */
.text-content {
    flex: 1;
    max-width: 50%;
}

.text-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.text-content h2 {
    font-size: 3rem;
    font-weight: bold;
}

.text-content h2 span {
    color: #a855f7; /* Purple color */
}

.text-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.resume-btn {
    padding: 10px 20px;
    background-color: #a855f7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

/* Image Styling */
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 80%;
    max-width: 400px;
    height: auto;
}
